<div class="flex min-h-screen bg-gray-100 dark:bg-gray-800">

    <!-- Formulaire à droite -->
    <div class="w-full lg:w-[40%] flex items-center justify-center px-6 py-12 sm:px-12">
        <div class="w-full max-w-md space-y-8">
            <div>
            <h2 class="text-3xl font-bold text-center text-gray-900 dark:text-white">Bienvenue dans le Garage Manager</h2>
            <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-400">
                Inscrivez-vous pour gérer votre garage
            </p>
            </div>

            <form [formGroup]="form" class="mt-8 space-y-6" (ngSubmit)="onSubmit()">
                <div class="rounded-md shadow-sm space-y-5">
                    <div>
                        <label for="nom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                        <input formControlName="nom" type="text" id="nom" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Votre nom" required />
                    </div>
                    <div>
                        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Téléphone</label>
                        <input formControlName="telephone" type="text" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Votre numéro de téléphone" required />
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Votre email" required />
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mot de passe</label>
                        <input formControlName="motDePasse" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" required />
                    </div>
                    <div>
                        <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmez votre mot de passe</label>
                        <input formControlName="motDePasseConfirmation" type="password" id="confirm-password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" required />
                    </div>
                </div>

                <div>
                    <button type="submit" class="w-full py-2 px-4 border border-transparent text-sm font-medium rounded-lg text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:bg-indigo-500 dark:hover:bg-indigo-600 dark:focus:ring-indigo-700">
                      <i *ngIf="isLoading" class="pi pi-spin pi-spinner text-sm"></i>
                      <span *ngIf="!isLoading">
                        S'inscrire
                      </span>
                    </button>
                </div>

                <!-- Ligne "Déjà inscrit ?" -->
                <div class="text-center mt-4">
                    <p class="text-sm text-gray-600 dark:text-gray-400">
                        Déjà inscrit ?
                        <a routerLink="/login" class="text-indigo-600 hover:underline dark:text-indigo-400">Connectez-vous</a>
                    </p>
                </div>
            </form>

        </div>
        </div>
    <!-- Image à gauche -->
    <div class="w-[60%] bg-center hidden lg:block bg-white"
      style="background-image: url('assets/img/car-signup.png'); background-size: contain; background-repeat: no-repeat;">
    </div>


  </div>
<p-toast />

